body{
  margin: 0;
}

/*------------GENERAL STYLES------------*/


h1, h2, h3, h4, h5{
	font-family:'Arbutus Slab', serif;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 1.375em;
	margin: 0;
	color: #444444;
}


img.showcase{
	text-align: center;
	align-content: center;
	width: 100%;
	padding-bottom: 15px;
}

a{
	color:#F2D26C;
}

a:hover{
	color:#F2D26C;
}

footer{
	border-top: 1px solid #B5B5B5;
	margin-top: 150px;
	padding: 0;
	display: block;
}

#shortFooter{
	margin-top: 0px;
}

@media only screen and (max-width:600px){
footer{
	border-top: 1px solid #B5B5B5;
	margin-top: 100px;
	padding: 0;
	display: block;
}
}

p.footer{
	font-family: 'Work Sans';
	font-size: 0.816em;
	color: #B5B5B5;
	vertical-align: center;
	margin-top: 20px;
	margin-right: 5em;
	text-align: right;
}

@media only screen and (max-width:600px){
	p.footer{
	font-family: 'Work Sans';
	font-size: 0.816em;
	color: #B5B5B5;
	vertical-align: center;
	text-align: center;
	margin-top: 20px;
	margin-right: 0;
}
}


.row.no-gutter [class*='col-'] {
	padding: 0px 5px;
}

@media only screen and (max-width: 600px){
	.row.no-gutter [class*='col-'] {
	padding: 5px 0px;
}
}

.showcaseContainer{
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 5em;
}


@media only screen and (max-width: 600px){
.showcaseContainer{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0;
}
}

.workContainer{
	margin-left: 18em;
	margin-right: 18em;
	margin-top: 10px;
}

@media only screen and (max-width: 1200px){
.workContainer{
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 0;
	margin-top: 10px;
}
}

@media only screen and (max-width: 1600px){
.workContainer{
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 0;
	margin-top: 10px;
}
}

@media only screen and (max-width: 600px){
.workContainer{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0;
	margin-top: 0px;
}
}

.aboutMeContainer{
	margin-left: 35em;
	margin-right: 35em;
	margin-top: 30px;
}

@media only screen and (max-width: 1600px){
.aboutMeContainer{
	margin-left: 15em;
	margin-right: 15em;
	margin-bottom: 0;
	margin-top: 20px;
}
}

@media only screen and (max-width: 600px){
.aboutMeContainer{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0;
	margin-top: 0px;
}
}


p{
	font-family: 'Work Sans', sans-serif;	
	font-size: .875em;
	font-style: normal;
	font-weight: normal;
	color: #444444;
	line-height: 1.5em;
}

.subHead{
	font-family: 'Roboto Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 0.813em;
	color: #B5B5B5;
}

@media only screen and (min-width: 600px) {
.hideDesktop{
	display: none;
}
}

@media only screen and (max-width: 600px) {
.hideMobile{
	display: none;
	visibility: hidden;

}
}

h1.title{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1em;
	color: #444444;
	margin-bottom: 15px;
	line-height: 1.5em;
	display: block;
}

p.footerTitle{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	color: #444444;
	margin-top: 30px;
	line-height: 1.5em;
	text-align: center !important;
}

@media only screen and (min-width: 600px){
h1.aboutMe{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 8vw;
	color: #F2D26C;
	line-height: 2em;
	vertical-align: center;
	text-align: left;
	position: absolute;
    top: 0%;
    left: -25%;	
	background: linear-gradient(to right, #F2D26C 0%, #F4A647 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
}

h1.squiggles{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 6vw;
	color: #F2D26C;
	line-height: .825em;
	text-align: right;
	position: absolute;
    top: 60%;
    left: 95%;
	background: linear-gradient(to right, #F2D26D 0%, #EA8D71 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1600px){
h1.aboutMe{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 8vw;
	color: #F2D26C;
	line-height: 2em;
	vertical-align: center;
	text-align: left;
	position: absolute;
    top: 0%;
    left: -5%;	
	background: linear-gradient(to right, #F2D26C 0%, #F4A647 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
}

@media only screen and (max-width: 600px){
h1.aboutMe{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 12vw;
	color: #ffffff;
	line-height: 1.5em;
	vertical-align: center;
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}	
}


@media only screen and (max-width: 900px) {
h1.title{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 1.7vw;
	color: #444444;
	margin: 10px 0px;
	display: block;

}
}

h2.description{
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: 300;
	font-size: 0.825em;
	margin-bottom: 15px;
	color: #969696;
	display: block;

}

#work{
	line-height: 2em;
}

h2.skills{
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: 300;
	font-size: 1em;
	padding-bottom: 20px;
	padding-left: 40px;
	color: #444444;
	text-align: left;
}


@media only screen and (max-width: 600px) {
h2.skills{
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: 300;
	font-size: .825em;
	padding-bottom: 20px;
	padding-top: 50px;
	color: #444444;
	margin: 0 auto !important;
	text-align: center !important;
	align-content: center !important;
}
}

p.skills{
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: 300;
	font-size: .750em;
	padding-left: 10px;
	color: #B5B5B5;
	line-height: 1.5em;
}

@media only screen and (max-width: 600px) {
p.skills{
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: 300;
	font-size: .750em;
	color: #B5B5B5;
	line-height: 1.5em;
	text-align: center;
	align-content: center;
}
}

p.aboutMeDescription{
	font-family: Roboto Mono;
	font-style: italic;
	font-weight: 500;
	font-size: .750em;
	margin-bottom: 15px;
	color: #969696;
	display: block;
	line-height: 2.5em;
}

p.aboutMeFooter{
	font-family: Arbutus Slab;
	font-style: normal;
	font-weight: normal;
	width: 100%;
	display: block;
	font-size: 15px;
	color: #444444;
	text-align: center !important;
	align-content: center !important;
}

a.showcase{
	opacity: 1;
 	filter: alpha(opacity=100);
	transition-duration: 1s;
}

a.showcase:hover{
	opacity: 0.5;
 	filter: alpha(opacity=50);
}

#firstImg{
	
}




/*------------MARGINS AND PADDING------------*/


.mt-150{
	margin-top: 150px;
}

.mt-100{
	margin-top: 100px;
}

.mt-50{
	margin-top: 50px;
}

.mt-15{
	margin-top: 15px;
}

.mt-10{
	margin-top: 10px;
}

.mt-4em{
	margin-top: 4em;
}

.mb-10{
	margin-bottom: 10px;
}

.ml-100{
	margin-left: 100px;
}

.pb-10{
	padding-bottom: 10px;
}

.pl-10{
	padding-left: 10px;
}

/*------------NAV STYLES------------*/


.navbar{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
.navbar{
	padding-top: 2rem;
	padding-bottom: 1rem;
}
}

a.navbar-brand{
	font-family:'Arbutus Slab', serif;
	font-weight: normal;
	font-size: 1em !important;
	color: #444444 !important;
	transition: 0.3s;
	margin-left: 4.5em;
}

@media only screen and (max-width: 600px) {
	a.navbar-brand{
	float: none;
	vertical-align: top;
	text-align: center;
	margin: 0 auto;
	}
}

a.navbar-brand:hover{
	color: #B5B5B5 !important;
}

/*
.navbar-border{
	border-bottom: 1px solid #E1E1E1;
}
*/
ul.navbar-nav{
	margin-right: 4.5em;
}


.nav-item{
	padding-left: 1rem;
}

a.nav-link{
	font-family: 'Work Sans', sans-serif;	
	font-size: 0.813em;
	font-style: normal;
	font-weight: normal;
	color: #444444 !important;
	transition-duration: 0.3s;
}

a.nav-link:hover{
	color: #B5B5B5 !important;
	color: #B5B5B5 !important;
}




/*------------MOBILE NAV STYLES------------*/


@media only screen and (max-width: 600px){
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,1.00);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-family: 'Work Sans';	
  padding-top: 40px;
  text-decoration: none;
  font-size: 25px;
  color: #444444;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
}



/*------------SPECIFIC ELEMENT STYLES------------*/

img.preview{
	
}

@media only screen and (min-width: 600px){
img.logo{
	width: 5%;
}
}
	
@media only screen and (max-width: 600px) {

.fullScreen{
	top: 0; left: 0; bottom: 0; right: 0;
    position:absolute;
    margin:auto;
    z-index:150;
    max-width:500px;
    max-height:200px;
	}
	
	
img.logo{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
}

.aboutMeImg{
	z-index: 0;
	align-content: center;
}

.backgroundWrapperPink{
	background-color: #fce1e1;
}

.leftBorderYellow{
	border-left: solid;
	border-left-color: #F2D26C;
	margin-left: 45px;
}

@media only screen and (max-width: 600px) {
.leftBorderYellow{
	margin: 0 auto;
	border: none;
}
}

p.photoDescriptor{
    font-family: 'Arbutus Slab', serif;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 1vw;
    margin: 0;
    color: #444444;
	text-align: center;
	align-self: center;
}

@media only screen and (max-width: 1440px) {
p.photoDescriptor{
    font-family: 'Arbutus Slab', serif;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 1.5vw;
    margin: 0;
    color: #444444;
	text-align: center;
	align-self: center;
	margin: 0 20px;
}	
}

.photoDescriptorWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hideScroll {
  -ms-overflow-style: none;
}

/* Modal img popup */

.modal-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
